<div class="container">
    <div class="row mt-5">
        <div class="col-4 mx-auto">
            <h1>Editing Menu Item</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <%= render 'form', menu_item: @menu_item %>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <%= link_to 'Show', @menu_item %> |
            <%= link_to 'Back', menu_items_path %>
        </div>
    </div>
</div>
