<div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Home</h1>
        </div>
    <div class="row">
        <div class="col-md-8">
            <h2><%= link_to "Revenue Report", revenue_report_path%></h2>
            <%if Report.last.present?%>
                <h3><%= link_to "Download last", download_path%></h3>
            <% end %>
        </div>
        <div class="col-md-4">
        <h2>Recent Orders</h2>
            <div class="recent-orders bg-white">
            <%recent_orders.each do |order| %>
                <%order.order_items.each do |item| %>
                   &nbsp;&nbsp; <%= MenuItem.find_by(id: item.menu_items_id).name %><br>
                <%end%>
           Total: <%= order.total %>
            <% end %>
            </div>
        </div>
    </div>
</div>


