<div class="container">
    <div class="row mt-5">
        <div class="col-4 mx-auto">
            <h1>New Home</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <%= render 'form', home: @home %>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
        <%= link_to 'Back', homes_path %>
        </div>
    </div>
</div>
