/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */

 //= 

 @import "bootstrap";

 .html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  display: block;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
}

.pb-1, .py-1 {
  padding-top: .25rem!important;
  padding-bottom: .25rem!important;
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

 .a {
  text-decoration: none;
  background-color: transparent;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }

  &:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
  }
 }
 .recent-orders {
   border: medium;
   border-color: black;
    padding-bottom: 100%;
    background-color: burlywood;
  }

