<%= form_with url: revenue_report_url, method: "post" do |form| %>
<div class="col-md-1"><%= form.label "From:"%></div>
<div class="col-md-4"><%= form.text_field :date_from, class: "datepicker form-control", :required => true%></div>
<%end%>